.open-block-content {
  padding: 0 30px;
}

.open-block:nth-child( n + 2 ) {
  margin-top: 45px;
}


.open-title {
  padding: 0 30px 10px;
}

/* @keyframes opening {
  0% {

  }
  100% {

  }
}

@keyframes closing {
  0% {

  }
  100% {
    
  }
} */

/* .is-open {

}

.is-close {

} */

