.phone-link {
  display: flex;
  align-items: center;
}


.phone-link::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('./assert/phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 5px;
}