.expirience-content-item {
  display: flex;
  align-items: flex-start;
}

.expirience-content-item:nth-child(n + 2) {
  margin-top: 20px;
} 

.expirience-content-date {
  white-space: nowrap;
  margin-right: 30px;
  font-weight: 900;
}